{% extends "nourish/base.html" %}
{% load url from future %}
{% load openid_tags %}

{% block content %}


<p/><p/><p>
{% if request.facebook.graph %}
<h2>You have logged out of Feed The Artists</h2>
But, you are still logged into Facebook!

<br><br>
<p><a href="https://www.facebook.com">Go to Facebook to log out</a>.</p>
{% else %}
<h2>Logged Out</h2>
<p>Maybe you want to go back to the <a href="/">Home Page</a>?</p>
{% endif %}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

{% endblock %}
