{% load nourish %}
<div>
  <div>
    <div style="float: left; width: 115px;">
      <img src="http://graph.facebook.com/{{invite.from.id}}/picture" width=50 border=0>
      <a href="{% nurl invite.event %}"><img src="{{ invite.event.image_url }}" width="50" border=0></a>
    </div>
    <div style="float: left; width: 415px;">
      {{ invite.from.name }} wants you to <a href="{% nurl invite.event %}register/host">register your theme camp</a> with Feed The Artists at {{ invite.event.name }}. 
    </div>
    <div style="clear: both;"></div>
  </div>
</div>
