{% load nourish %}
<a href="{% nurl invite.event %}register/guest">
<div>
<div style="float: left; border-right: 1px solid black; padding-right: 10px; ">
 <a href="{% nurl invite.event %}"><img src="{{ invite.event.image_url }}" width=100 border=0></a>
 <a href="{% nurl invite.event %}register/guest">
  <img width=250 src="http://feedtheartists.net/images/home-artists.jpg" alt="Register New Artist Group" border=0>
 </a>
 </a>
</div>
<div style="float: left; width: 300px; ; margin: 10px;">
 <img src="http://graph.facebook.com/{{invite.from.id}}/picture" width=50 style="float: left; margin: 5px;">
 {{ invite.from.name }} wants you to <a href="{% nurl invite.event %}register/guest">register your art group</a> with Feed The Artists at {{ invite.event.name }}. 
</div>
<div style="clear: both;"></div>
</div>
</a>
