{% load nourish %}
<div>
  <div>
    <div style="float: left; width: 115px;">
      <img src="http://graph.facebook.com/{{invite.from.id}}/picture" width=50 border=0>
      <a href="{% nurl invite.event %}"><img src="{{ invite.event.image_url }}" width="50" border=0></a>
    </div>
    <div style="float: left; width: 415px;">
      {{ invite.from.name }} wants you to <a href="{% nurl invite.event %}register/guest">register your art group</a> with Feed The Artists at {{ invite.event.name }}. 
    </div>
    <div style="clear: both;">
      <center>
        <form method="GET" action="{% nurl invite.event %}register/guest" style="display: inline;">
          <input type=submit value="Register My Art Group">
        </form>
        <form method="POST" style="display: inline;">
          <input type="hidden" name="invite" value="{{invite.id}}">
          <input type="hidden" name="action" value="delete_fb_request">
          <input type=submit value="No Thanks">
        </form>
      </center>
    </div>
  </div>
</div>
