{% load nourish %}
<div>
  <div style="float: left; border-right: 1px solid black; padding-right: 10px;">
   <a href="{% nurl invite.event %}"><img src="{{ invite.event.image_url }}" width=100 border=0></a>
   <a href="{% nurl invite.event %}register/host">
     <img width=250 src="http://feedtheartists.net/images/burningman2.jpg" alt="Register New Theme Camp" border=0>
   </a>
  </div>
  <div style="float: left; width: 300px; ; margin: 10px;">
    <img src="http://graph.facebook.com/{{invite.from.id}}/picture" width=50 style="float: left; margin: 5px;" border=0>
   {{ invite.from.name }} wants you to <a href="{% nurl invite.event %}register/host">register your theme camp</a> with Feed The Artists at {{ invite.event.name }}. 
  </div>
  <div style="clear: both;"></div>
</div>
