{% extends "base.html" %}

{% block title %}{{ object.group.name }} at {{ object.event.name }}{% endblock %}

{% block content %}
    <h2><a href="{{object.group.get_absolute_url}}">{{ object.group.name }}</a> at <a href="{{object.event.get_absolute_url}}">{{ object.event.name }}</a></h2>
    <ul>
        {% if object.role == 'T' %}
            <li>Theme Camp</li>
            <li>Dinner Time: {{ object.dinner_time }}</li>
        {% endif %}
        {% if object.role == 'A' %}
            <li>Art Group</li>
            <li>Expected Members: {{ object.expected_members }}</li>
            <li>Notes: {{ object.notes }}</li>
        {% endif %}
        <li>Arrival: {{ object.arrival_date }}</li>
        <li>Departure: {{ object.departure_date }}</li>
        <li>Features: {{ object.features }}</li>
    </ul>
    {% if object.role == 'A' %}
        <h3>Meals</h3>
        {% for eg in host_event_groups %}
            <a href="{{object.get_absolute_url}}invite/{{eg.id}}">Invite {{object.group.name}} to dinner with {{ eg.group.name }}</a><br>
        {% endfor %}
        {% if group_admin %}
            <a href="{{ object.get_absolute_url}}meals/">Manage Meals and Invitations</a>
        {% endif %}
        <ul>
        {% for meal in meals %}
            <li>{{ meal.date }} <em>({{ meal.members}} diners)</em></li>
            <ul>
            {% if meal.state = 'N' %}
                <li>Request for invitations posted</li>
            {% else %}
                {% for invite in invites_rcvd %}
                    {% if invite.meal = meal and invite.state != 'R' %}
                        <li>Invite from <a href="{{invite.host_eg.get_absolute_url}}">{{ invite.host_eg.group.name }}</a> <em>(Dinner @ {{invite.host_eg.dinner_time}}, {{invite.host_eg.features}})</em> - 
                          {% if invite.state == 'N' and meal.state = 'I' %}<strong>New Invite!</strong>{% endif %}
                          {% if invite.state == 'N' and meal.state = 'S' %}<em>Alternative</em>{% endif %}
                          {% if invite.state == 'S' %}<strong>Selected</strong> <em>(Unconfirmed)</em>{% endif %}
                          {% if invite.state == 'C' %}<strong>Confirmed</strong>{% endif %}
                         </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </ul>
        {% endfor %}
        </ul>
    {% endif %}
    {% if object.role == 'T' %}
        <h3>Invitations</h3>
        {% if group_admin %}
            <a href="{{ object.get_absolute_url}}invites/">Manage Invitations</a>
        {% endif %}
        <ul>
        {% for date in dates %}
            <li>{{date}}</li>
            <ul>
            {% if group_admin %}
                <li><a href="{{object.event.get_absolute_url}}">Invite Artists to Dinner!</a></li>
            {% endif %}
            {% for invite in invites_sent %}
                {% if invite.date == date %}
                <li>{{invite.date}} - <a href="{{invite.guest_eg.get_absolute_url}}">{{invite.guest_eg.group.name}}</a> <em>({{invite.meal.members}} diners)</em> -
                {% if invite.state == 'N' %}
                    <strong>Pending</strong>
                {% endif %}
                {% if invite.state == 'S' %}
                    <strong>Selected</strong>
                {% endif %}
                {% if invite.state == 'C' %}
                    <strong>Confirmed</strong>
                {% endif %}
                {% if invite.state == 'R' %}
                    <strong>Declined</strong>
                {% endif %}
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
