body,
html {
    margin:0;
    padding:0;
    color:#000;
    background:#312112;
    font-family: sans-serif;
}
p {
}
A {
    text-decoration: none;
}

#site_sidebar A {
    color: #700;
}

#site_sidebar A:hover {
    color: red;
}

#site_content A {
    color: #d22;
}

#site_content A:hover {
    color: red;
}

#site_content .site_ext_link A {
    color: #700;
}

#site_content .site_ext_link A:hover {
    color: red;
}

A:hover {
    text-decoration: underline;
    color: red;
}

#site_wrap {
    width:1024px;
    margin:0 auto;
    background:#ffffff;
}

#site_content {
    width:720px;
    margin-left: 15px;
    margin-right: 15px;
    float:left;
}

#site_sidebar {
    float:right;
    width:200px;
    padding:10px;
    background:#ffffff;
}
#site_footer {
    clear:both;
    padding:5px 10px;
    background:#ccc;
}
#site_footer p {
    margin:0;
}
* html #site_footer {
    height:1px;
}
#site_footer_links {
    float: left;
    color: black;
}
#site_footer_links A {
    color: black;
    text-decoration: underline;
}
#site_footer_links A:hover {
    color: red;
}
#site_attribution {
    float: right;
    font-size: small;
    color: #eee;
}
#site_attribution A {
    text-decoration: underline;
    color: #eee;
}
#site_attribution A:hover {
    text-decoration: underline;
    color: #b00;
}

#site_auth {
    padding-right: 10px;
    padding-bottom: 10px;
    float: right;
    text-align: right;
}

#content_main {
    background-color: white;
}
