{% extends "nourish/base.html" %}

{% load nourish %}
{% block sitetitle %}Artist Availability Chart{% endblock %}

{% block main-css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/static/ext-all.css">
{% endblock %}

{% block content-css %}
  {{ block.super }}
  <style>
    #site_content {
      width:900px;
      margin-left: 140px;
      float: none;
    }
  </style>
{% endblock %}

<!-- Remove the sidebar from the screen -->
{% block mainsidebar %}{% endblock %}

{% block preload_js %}
  {{ block.super }}
  <script type="text/javascript" src="/static/ext-all.js"></script>
  <script type="text/javascript">
    var uninvitedArtists = [ ];
  </script>
{% endblock %}
{% block content %}
  <div style="float:left">
  <a href="/">
    <img border="0" src="/static/fta/FeedTheArtistsLogo.png">
  </a>
  </div>
  
  <div style="float:left; padding: 15px 0 0 20px; width: 500px">
    <h2>Artists at {{ object.name}}</h2>
    <br/>
  
    <p>
      Below you will find all the registered artist for each day at {{ object.name }}.  If you would like to
      invite an artist that is not invited yet, just click on their name and from there you can
      invite them to dinner.
    </p>
  </div>
  
  <div style="clear: both; padding-bottom: 30px"></div>
  
  <script type="text/javascript">
    {% for meal in meals %}
      uninvitedArtists.push({
        "id" : "{{ meal.id }}",
        "name" : "{{ meal.eg.group.name }}",
        "desc" : "{{ meal.eg.group.description }}",
        "date" : new Date({{ meal.date|date:"Y, m, d" }}),
        "url" : "{% nurl meal.eg %}",
        "numPeople" : {{ meal.members }},
        "features": "{{ meal.notes }}",
        "invited" : "{{ meal.get_state_display }}"
      });
    {% endfor %}
  </script>

  <script type="text/javascript">
      Ext.onReady(function() {
      // wrapped in closure to prevent global vars.
      Ext.define('Artist', {
          extend: 'Ext.data.Model',
          fields: ['name', 'desc', 'date', 'url', 'numPeople']
      });
  
      var Restaurants = Ext.create('Ext.data.Store', {
          storeId: 'artists',
          model: 'Artist',
          sorters: ['name','numPeople'],
          groupField: 'date',
          data: uninvitedArtists
      });
      
      var groupingFeature = Ext.create('Ext.grid.feature.Grouping',{
          groupHeaderTpl: '{name:date("l M d")} ({rows.length} Artist Group{[values.rows.length > 1 ? "s" : ""]})'
      });
      
      var inviteArtists = function(selModel) {
        var artists = "";
        var selections = selModel.getSelection()
        for (var i = 0; i < selections.length; i++) {
          console.log(selections[i].data.name);
        }
        
      }
              
      var sm = Ext.create('Ext.selection.CheckboxModel', {
        checkOnly: true,
        listeners: {
          'select': {
              element: 'el',
              fn: function(selModel, record, index){
                console.log('click ' + record);
              }
          }
        }
      });
      
      var grid = Ext.create('Ext.grid.Panel', {
          renderTo: 'artistGrid',
          frame: true,
          border: false,
          minHeight: 50,
          store: Restaurants,
          selModel: sm,
          width: 760,
          autoHeight: true,
          viewConfig: {
            emptyText: "There are no Artists currently registered for {{ object.name}}. Spread the word",
            minHeight: 50
          },
          features: [groupingFeature],
          columns: [{
              text: 'Name',
              flex: 1,
              menuDisabled: true,
              dataIndex: 'name',
              xtype: 'templatecolumn',
              tpl: '<a href="{url}" target="_blank"><span title="{name}">{name:ellipsis(25)}</span></a>',
          },{
              text: 'Description',
              flex: 1,
              menuDisabled: true,
              xtype: 'templatecolumn',
              tpl: '<span title="{desc}">{desc:ellipsis(25)}</span>',
              dataIndex: 'desc'
          },{
              text: 'Members',
              flex: 0,
              width: 58,
              menuDisabled: true,
              dataIndex: 'numPeople'
          },{
              text: 'Features',
              flex: 1,
              menuDisabled: true,
              dataIndex: 'features',
              xtype: 'templatecolumn',
              tpl: '<span title="{features}">{features:ellipsis(25)}</span>',
          },{
              text: 'Invitation Status',
              flex: 1,
              menuDisabled: true,
              dataIndex: 'invited'
          },{
              text: 'Date',
              dataIndex: 'date',
              hidden: true
          }]
      });
  });

  </script>
  <div id="artistGrid" style="padding: 15px 0 100px 0"></div>
{% endblock %}

