{% extends "site/base.html" %}

{% block sitetitle %}{% block title %}{% endblock %} - FtA ORS{% endblock %}
{% block content-css %}
  <link rel="stylesheet" type="text/css" href="/static/nourish.css">
{% endblock %}

{% block content-header %}
  {% include "nourish/header.html" %}
{% endblock %}

{% block content-sidebar %}
  {% include "nourish/sidebar.html" %}
{% endblock %}

{% block content %}
  <div style="float: left; margin-right: 5px;">
    {% block content-logo %}{% endblock %}
  </div>
  <div style="float: left; width: 370px;">
    {% block content-title %}{% endblock %}
  </div>
  <div style="clear: both;"></div>
  {% block content-body %}{% endblock %}
{% endblock %}
