{% load nourish %} 

<h3>About Us</h3>
<p>{{ object.group.description }}</p>
<br/>

{% if is_admin %}
  <p>Each night your artist group is registered for dinner can be found below.<br/>
  pay close attention to the status of the meals to see if you have been invited or are in need of confirmation of your invites.
  <br/>Click the 'Edit or Add Meals' button to make changes.
  </p>
{% else %}
  <p>{{object.group.name}} is registered for the meals below.</p>
{% endif %}

<h3 style="display:inline;">Meals</h3>
{% if is_admin %}
  <span style="font-size: small;">[<a href="{% nurl object %}meals/">Edit or Add Meals</a>]</span>
{% endif %}

<br/>
<br/>

{% for eg in host_event_groups %}
  <a href="{% nurl object.event %}invite/?guest={{object.id}}&host={{eg.id}}">Invite {{object.group.name}} to dinner with {{ eg.group.name }}</a>
  <br>
{% endfor %}
<ul>
  {% for meal in meals %}
    <li>
      <span class="eventDate">{{ meal.date|date:"N j" }} <em>({{ meal.date|date:"D." }})</em></span>
      - {{ meal.members }} Crew
      <ul>
        {% if meal.state == 'N' %}<li>Waiting for an invitation.</li>{% endif %}
        {% if meal.state == 'I' %}
          {% for invite in meal.invites %}
            <li>Invited by <a href="{% nurl invite.host_eg %}">{{ invite.host_eg.group.name }}</a> <em>({{invite.dinner_time}} @ {{invite.host_eg.event_location|default:"TBD"}})</em>.</li>
          {% endfor %}
        {% endif %}
        {% if meal.state == 'S' %}<li>Awaiting confirmation from <a href="{% nurl meal.invite.host_eg %}">{{ meal.invite.host_eg.group.name }}</a>.</li>{% endif %}
        {% if meal.state == 'C' %}
          <li>Confirmed with <a href="{% nurl meal.invite.host_eg %}">{{ meal.invite.host_eg.group.name }}</a>.</li>
          <li>Dinner Time: {{ meal.invite.dinner_time }}.</li>
          <li>Location: {{ meal.invite.host_eg.event_location|default:"TBD" }}.</li>
        {% endif %}
        {% if meal.features or meal.restrictions %}
          <li>
            {% if meal.features %}<strong>Dietary Restrictions</strong>; {% endif %}
            {{ meal.notes }}
          </li>
        {% endif %}
      </ul>
    </li>
  {% endfor %}
</ul>
