{% load nourish %}

<br>
<h3 style="display: inline;">About our Meals</h3>
{% if is_group_admin %}
  <span style="font-size: small;">[<a href="{% nurl object %}edit/">Edit Details</a>]</span>
{% endif %}
<br><br>
Location at event: {{ object.playa_address }}<br>
Dinner Time: {{ object.dinner_time }}<br>
Features: {{ object.features }}<br>
Notes: {{ object.notes }}<br>
<br>
<h3 style="display: inline;">Invitations</h3>
{% if is_group_admin %}
  <span style="font-size: small;">[<a href="{% nurl object %}invites/">Manage Invitations</a>]</span>
{% endif %}
<br><br>
{% if is_group_admin %}
  <p><a href="{% nurl object.event %}invite/?eg={{ object.id }}">Invite Artists to Dinner!</a></p>
{% endif %}
<table class="meals">
  <tr><th class="first"></th><th>Invitations</th></tr>
  {% for date in dates %}
    {% if 1 %}
      <tr class="meal">
        <th class="first">{{date}}</th>
        <td>
          <ul style="margin: 2px; padding: 0; list-style: none;">
            {% for invite in invites_sent %}
              {% if invite.date == date %}
                <li>
                  <a href="{% nurl invite.guest_eg %}">{{invite.guest_eg.group.name}}</a> 
                  <em>({{invite.meal.members}} diners)</em> -
                  {% if invite.state == 'N' %}
                    <strong>Pending</strong>
                  {% endif %}
                  {% if invite.state == 'S' %}
                    <strong>Selected</strong>
                  {% endif %}
                  {% if invite.state == 'C' %}
                    <strong>Confirmed</strong>
                  {% endif %}
                  {% if invite.state == 'R' %}
                    <strong>Declined</strong>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
