{% extends "nourish/EventDetailView.html" %}

{% load facebook_tags %}
{% load nourish %}

{% block title %}Groups at {{ event.name }} - Events{% endblock %}
{% block og_title %}Groups at {{ event.name }} - Feed The Artists{% endblock %}
{% block og_desc %}{{ event.host_groups.count }} theme camps and {{ event.guest_groups.count }} artist groups are participating in meal gifting at {{ event.name }}.  Sign up to give or receive meals at the event!{% endblock %}

{% block content-body %}
  <div style="clear: both;"></div>

  <h4><a name="guest"></a>Registered Artist Groups</h4>
  <table>
    <tr><th>Artist Group</th><th>Days registered</th><th>Crew Size</th></tr>
    {% for eg in event.guest_groups %}
      <tr>
        <td><a href="{% nurl eg %}">{{ eg.group.name }}</a></td>
        <td>{{ eg.meals.count }}</td>
        <td>{{ eg.crew_size }}</td>
      </tr>
    {% endfor %}
  </table>
  <p><a href="{% nurl event %}register/guest">Register an artist group</a></p>

  <h4><a name="host"></a>Registered Theme Camps</h4>
  <table>
    <tr><th>Theme Camp</th><th>Invitations Sent</th></tr>
    {% for eg in event.host_groups %}
      <tr>
        <td><a href="{% nurl eg %}">{{ eg.group.name }}</a></td>
        <td>{{ eg.invites.count }}</td>
      </tr>
    {% endfor %}
  </table>
  <p><a href="{% nurl event %}register/host">Register a theme camp</a></p>

  <h4>Spread the word!</h4>
  <ul>
  {% include "nourish/fb/event_share_link.html" with event=event %}
  <li>{% include "nourish/fb/event_guest_siteinvite_link.html" with event=event %}</li>
  <li>{% include "nourish/fb/event_host_siteinvite_link.html" with event=event %}</li>
  </ul>

  {% facebook_js %}
{% endblock %}
