{% extends "nourish/base.html" %}

{% load facebook_tags %}
{% load nourish %}

{% block title %}{{ event.name }} - Events{% endblock %}
{% block og_title %}{{ event.name }} - Feed The Artists{% endblock %}
{% block og_desc %}Feed The Artists is helping to coordinate meal gifting at {{ event.name }}.  Sign up to give or receive meals at the event!{% endblock %}

{% block content-logo %}
  {% if event.image_url %}
    <a target="_parent" href="{{ event.url }}"><img width=100 src="{{event.image_url}}?type=normal" border=0></a>
  {% endif %}
{% endblock %}

{% block content-title %}
    <h2 style="display: inline;">{{ event.name }}</h2>
    {% if is_admin %}
      [<a href="{% nurl event %}edit/">Edit Event</a>]
    {% endif %}
    <br>
    {{ event.start_date }} thru {{ event.end_date }}<br>
    
    <br>
    <span class="site_ext_link">Event website: {{event.url|urlizetrunc:40}}</span>
{% endblock %}

{% block content-body %}
  <div style="clear: both;"></div>
  <div style="float: left;">
    <a href="{% nurl event %}register/guest">
      <img width=250 src="/static/fta/home-artists.jpg" alt="Register New Artist Group" border=0>
    </a>
  </div>

  <div style="float: left;">
    <a href="{% nurl event %}register/host">
      <img width=250 src="/static/fta/burningman2.jpg" alt="Register New Theme Camp" border=0>
    </a>
  </div>
  <div style="clear: both;"></div>
  
  <div style="margin-top: 30px; text-align: center">
    <a href="{% nurl event %}artistchart/">
      <img src="/static/images/checkOutArtistChart.jpg" title="Artist availability chart for " />
    </a>
  </div>

  {% if request.user.is_staff %}
    <a href="{% nurl event %}reports/"><h3>Admin Reports</h3></a>
    <br/>
    <br/>
  {% endif %}

  <h4>Recently Registered Artist Groups</h4>
  <ul class="inline_list">
    {% for eg in event.recent_guest_groups %}
      <li><a href="{% nurl eg %}">{{ eg.group.name }}</a> |</li>
    {% endfor %}
    <li><a href="{% nurl event %}register/guest">Register</a></li>
  </ul>
  <p><a href="{% nurl event %}groups/#guest">View all {{ event.guest_groups.count }} registered artists groups</a></p>

  <h4>Recently Registered Theme Camps</h4>
  <ul class="inline_list">
    {% for eg in event.recent_host_groups %}
      <li><a href="{% nurl eg %}">{{ eg.group.name }}</a> |</li>
    {% endfor %}
    <li><a href="{% nurl event %}register/host">Register</a></li>
  </ul>
  <p><a href="{% nurl event %}groups/#host">View all {{ event.host_groups.count }} registered theme camps</a></p>

  <h4>Spread the word!</h4>
  <ul>
  {% include "nourish/fb/event_share_link.html" with event=event %}
  <li>{% include "nourish/fb/event_guest_siteinvite_link.html" with event=event %}</li>
  <li>{% include "nourish/fb/event_host_siteinvite_link.html" with event=event %}</li>
  </ul>

  {% facebook_js %}
{% endblock %}
