{% extends "nourish/base.html" %}

{% load facebook_tags %}
{% load nourish %}

{% block title %}{{ object.name }} - Events{% endblock %}

{% block content %}
  {% if object.image_url %}
    <div style="float: left; margin-right: 5px;">
      <a target="_parent" href="{{ object.url }}"><img width=100 src="{{object.image_url}}?type=normal" border=0></a>
    </div>
  {% endif %}
  <div style="float: left; width: 400px;">
    <h2 style="display: inline;">{{ object.name }}</h2>
    {% if is_admin %}
      [<a href="{% nurl object %}edit/">Edit Event</a>]
    {% endif %}
    <br>
    {{ object.start_date }} thru {{ object.end_date }}<br>
    
    <br>
    Event website: {{object.url|urlizetrunc:40}}
  </div>
  <div style="clear: both;"></div>

  <br>

  <script type="text/javascript">
    meals_by_date = {{ json|safe }};
  </script>
  <ul>
    {% for d in daysets %}
      <li>
        Date: {{ d.date }}
        {{ d.form }}
        <ul>
          {% for m in d.mealsets %}
            <li>
              {{ m.1 }}
              {{ m.0.eg.group.name }}
              <em>({{ m.0.members }} diners, {{ m.0.features }})</em>
              <strong>[{{m.0.state}}]</strong>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
