<h3>What if my {{type}} has no Facebook presence?</h3>
<p>You should probably create a Facebook presence for your theme camp!</p>
<p>The right kind of presence for your camp is hard for us to say, but if you don't know what the following options mean, you should probably just <a href="http://www.facebook.com/pages/create.php">create a new Facebook "page"</a>.</p>
<ul>
  <li><a target="_parent" href="http://www.facebook.com/pages/create.php">Create a new Facebook page</a></li>
  <li><a target="_parent" href="http://www.facebook.com/events/create.php">Create a new Facebook event</a></li>
  <li><a target="_parent" href="http://www.facebook.com/groups/">Create a new Facebook group</a></li>
</ul>
