{% load nourish %}

<script type="text/javascript">
  var uninvitedArtists = [ ];
</script>
{{ meal_formset.management_form }}
{{ day_formset.management_form }}
<p>
  Invite artist groups to dinner by clicking the checkbox next to the artist group name on the day that you are having the dinner.
  <br/>
  If an artist group has dietary restrictions, it will be noted in parenthesis next to the number of crew members for that artist group.</p>
<ul>
  {% for d in invite_dates %}
    <li>
      <span>
      {{ d.date|date:"M j" }} <em>({{ d.date|date:"D" }})</em>
      {% for field in d.form.hidden_fields %}
        {{ field }}
      {% endfor %}
      {{ d.form.dinner_time }}
      {% if d.form.dinner_time.errors %}
        <ul class="errorlist">
          {% for error in d.form.dinner_time.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      </span>
      <ul>
        {% for m in d.meals %}
          <li>
            <label for="id_{{ m.form.invited.html_name}}">
              {% for field in m.form.hidden_fields %}
                {{ field }}
              {% endfor %}
              {{ m.form.invited }}
              <a href="{% nurl m.meal.eg %}">{{ m.meal.eg.group.name }}</a>
              <em>&nbsp;{{ m.meal.members }} crew members{% if m.meal.features %}&nbsp;({{ m.meal.notes|escape}}){% endif %}</em>
              <strong>[{{m.meal.get_state_display}}]</strong>
            </label>
          </li>
          <script type="text/javascript">
            uninvitedArtists.push({
              "id" : "{{ m.meal.id }}",
              "name" : "{{ m.meal.eg.group.name }}",
              "desc" : "{{ m.meal.eg.group.description }}",
              "date" : new Date({{ m.meal.date|date:"Y, m, d" }}),
              "url" : "{{ m.meal.eg.group.url }}",
              "numPeople" : {{ m.meal.members }},
              "features": "{{ m.meal.features }}",
              "invite_input" : document.getElementById("id_{{ m.form.invited.html_name }}"),
              "date_input" : document.getElementById("id_{{ d.form.dinner_time.html_name }}")
            });
          </script>
        {% endfor %}
      </ul>
    </li>
  {% empty %}
    <li style="font-weight: bold">
      No dates available to invite artist to dinner.  They may have already been invited for all the nights they registered for.  <a href="{% nurl object %}artistchart/">Try another artist!</a>
    </li>
  {% endfor %}
</ul>
