<h3>Info about your dinners</h3>
<p class="description">Note: If you dont know your playa address now, thats ok, just PLEASE come back and add it once you do know, so we can let your invited artists groups know where you will be having the dinner.</p>
{{ grouphost_formset.0.non_field_errors }}
{{ features_formset.0.non_field_errors }}
<table class="regform">
  {% include "nourish/form_snippet.html" with form=grouphost_formset.0 %}
  {% include "nourish/form_snippet.html" with form=features_formset.0 %}
</table>
