{% if canvas %}
{% include "nourish/please_connect_canvas.html" %}
{% else %}
<h1>Use Facebook to Register</h1>

<p>If you have a Facebook account, you can use it to login to the Online Reservation System.  Not only will this save you having to remember a new password, but it will allow you take take full advantage of the new features that FtA has to offer in our Online Registration System.</p>

<p>We won't spam you or share any of your information with anyone else.  For more details, check out our <a href="/privacy">Privacy Policy</a> and <a href="/tos">Terms of Service</a>.
{% load facebook_tags %}
<form class="connect-button" name="login" method="post" action="{% if logged_in %}{% url facebook_connect %}{% else %}{% url facebook_login %}{% endif %}">

<div style="display: none">
<ul class="fb_connect_options">
<li>
  <label for="email">
  <input name=perms type=checkbox value="email" id="email" checked>Email me important updates
  </label>
</li>
<li>
  <label for="groups">
  <input name=perms type=checkbox value="user_groups" id="groups" checked>Integrate my Groups
  </label>
</li>
<li>
  <label for="events">
  <input name=perms type=checkbox value="user_events" id="events" checked>Integrate my Events
  </label>
</li>
</ul>
</div>

{% facebook_button 1 %}
</form>
<br>
<br>

<h1>Dont want to connect through facebook?</h1>

<a href="?u=y">Click here to register without a Facebook account</a>

<br />
<br />

<h2>Already have an account?</h2>
<a href="/login/?next={{ request.path }}">Login Here</a>


{% facebook_js %}
{% endif %}
