{% load nourish %}
{% load cms %}
{% load media %}
<!DOCTYPE html 
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %} - FtA ORS</title>
    <link rel="icon" href="http://www.feedtheartists.net/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/base.css">
    {% if canvas %}
      <link rel="stylesheet" type="text/css" href="/static/canvas.css">
    {% else %}
      <link rel="stylesheet" type="text/css" href="/static/site.css">
    {% endif %}
 
    {% block css %}
        {% include_media 'main.css' %}
    {% endblock %}
    {% block content-css %}{% endblock %}
    {% block preload_js %}{% endblock %}
    {% block extra-head %}{% endblock %}

    {% include "site/ga.html" %}
  </head>

  <body>
    <div id="content_main">
      <div id="site_top">
        <img src="/static/fta/tophead1.jpg" usemap="#headermap"></img>
      </div>
      <map name="headermap">
        <area shape="rect" coords="118,63,200,110" href="vision" title="Our Vision">
        <area shape="rect" coords="220,43,314,83" href="history" title="FtA History">
        <area shape="rect" coords="337,34,396,64" href="fta2011" title="FtA-2011">
        <area shape="rect" coords="431,27,493,62" href="questionanswer" title="Question and Answer">
        <area shape="rect" coords="513,25,637,65" href="archives" title="Archives">
        <area shape="rect" coords="659,39,738,78" href="whatpeoplearesaying" title="What people are saying about FtA">
        <area shape="rect" coords="759,54,900,114" href="contactus" title="Contact us!!!">
      </map>
      
      <div id="site_wrap">
      <div id="site_content">
        <div id="site_header">
          {% block header %}
            {% include "site/header.html" %}
          {% endblock %}
        </div>
        {% block content-header %}{% endblock %}
        {% block content-messages %}
          {% if error %}<div class="error">{{ error }}</div>{% endif %}
          {% if info %}<div class="info">{{ info }}</div>{% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endblock %}
        {% block content %}{% endblock %}
      </div>
      <div id="site_sidebar">
        {% if canvas %}
            {% include "site/canvas_sidebar_header.html" %}
        {% else %}
            {% include "site/sidebar_header.html" %}
        {% endif %}
        {% block content-sidebar %}{% endblock %}
        {% block sidebar %}
          {% include "site/sidebar.html" %}
        {% endblock %}
      </div>
      <div id="site_footer">
        {% block content-footer %}{% endblock %}
        {% block footer %}
          {% include "site/footer.html" %}
        {% endblock %}
      </div>
      <div id="site_bottom"></div>
    </div>
    {% block js %}{% endblock %}
  </body>
</html>
