{% extends "site/base.html" %}

{% block sitetitle %}Welcome to Feed the Artists{% endblock %}

{% block content-css %}
  <link rel="stylesheet" type="text/css" href="/static/home.css">
{% endblock %}

{% block content-header %}
{% endblock %}

{% block content-sidebar %}
  
{% endblock %}

{% block content %}

<p class="home-page-quote">
  <strong>"Food is a central activity of mankind and one of the
  single most significant trademarks of a culture."</strong>
  <br />
  <em>-Mark Kurlansky</em>
  <em>'Choice Cuts' (2002)</em>
</p>

<p class="home-page-quote">
  <strong>"Food to a large extent is what holds a society together
  and eating is closely linked to a deep spiritual experience."</strong>
  <br />
  <em>-Peter Farb &amp; George Armelagos</em>
  <em>'Consuming Passions: The Anthropology of Eating'</em>
</p>

<br />
<blockquote>
  <a class="reference external image-reference" href="/nourish/e/2-burning-man-2011/register/guest">
    <img alt="/static/fta/home-artists.jpg" src="/static/fta/home-artists.jpg" height="110px">
  </a>
  
  <a class="reference external image-reference" href="/nourish/e/2-burning-man-2011/register/host">
    <img alt="/static/fta/burningman2.jpg" src="/static/fta/burningman2.jpg" height="110px">
  </a>
  
  <div style="text-align: center; margin-top: 30px;">
    <h2>Returning users <a href="/nourish/home/">click here </a>to manage your events</h2>
  </div>
</blockquote>

<div style="margin-left: 160px;margin-top: 45px;">

<iframe src="http://www.facebook.com/plugins/like.php?app_id=204799292895371&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FFeed-The-Artists%2F353762805543&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>

<!--<div style="float:left">
  <a href="http://twitter.com/share" class="twitter-share-button" data-url="www.feedtheartists.net" data-text="Feed the Artists ROCKS!" data-count="horizontal">Tweet</a>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>-->

</div>

{% endblock %}

