{% extends "site/base.html" %}

{% block sitetitle %}Welcome to Feed the Artists{% endblock %}

{% block content-css %}
  <link rel="stylesheet" type="text/css" href="/static/home.css">
{% endblock %}

{% block content-header %}
{% endblock %}

{% block content-sidebar %}
  
{% endblock %}

{% block content %}

<p class="home-page-quote">
  <strong>"Food is a central activity of mankind and one of the
  single most significant trademarks of a culture."</strong>
  <br />
  <em>-Mark Kurlansky</em>
  <em>'Choice Cuts' (2002)</em>
</p>

<p class="home-page-quote">
  <strong>"Food to a large extent is what holds a society together
  and eating is closely linked to a deep spiritual experience."</strong>
  <br />
  <em>-Peter Farb &amp; George Armelagos</em>
  <em>'Consuming Passions: The Anthropology of Eating'</em>
</p>

<br />
<blockquote>
  <a class="reference external image-reference" href="/nourish/e/2-burning-man-2011/register/guest">
    <img alt="/static/fta/home-artists.jpg" src="/static/fta/home-artists.jpg" height="110px">
  </a>
  
  <a class="reference external image-reference" href="/nourish/e/2-burning-man-2011/register/host">
    <img alt="/static/fta/burningman2.jpg" src="/static/fta/burningman2.jpg" height="110px">
  </a>
  
  <div style="text-align: center; margin-top: 30px;">
  <a class="reference external image-reference" href="/nourish/home/">
    <img alt="/static/fta/returnUser.jpg" src="/static/fta/returnUser.jpg" height="110px">
  </a>
  </div>
</blockquote>

{% endblock %}

