{% extends "site/base.html" %}

{% block sitetitle %}Feed the Artists :: Burning Man{% endblock %}

{% block content-css %}
{% endblock %}

{% block content-header %}
{% endblock %}

{% block content-sidebar %}
  
{% endblock %}

{% block content %}
<div align="center">
  <br />
  <br />
  <br />
  <object type="application/x-shockwave-flash" id="video player 2" data="/static/fta/preview.swf" width="530" height="400"><param name="codebase" value="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0"><param name="width" value="530"><param name="height" value="400"><param name="quality" value="high"><param name="align" value="middle"><param name="play" value="true"><param name="loop" value="true"><param name="scale" value="showall"><param name="wmode" value="window"><param name="devicefont" value="false"><param name="bgcolor" value="#FFFFFF"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="sameDomain"><param name="salign" value=""></object>
  <br />
  <br />
  <br />
</div>

{% endblock %}