{% load nourish %}
<li><a href="#" onClick="FB.ui({
  display: 'iframe',
  method: 'feed',
  message: 'If you are organizing an art project or theme camp at {{event.name}}, register with Feed The Artists!', 
  link: 'http://fta.outer.org{{ event.get_absolute_url }}',
  name: 'Feed The Arists at {{ event.name }}',
  caption: 'Online Reservation System for Artists and Theme Camps',
  description: 'Feed The Artists is coordinating meal sharing at {{ event.name }}.  If you are organizing an art project or theme camp and want to get involved in meal gifting, register now!',
  actions: [
    { name: 'Register', link: 'http://apps.facebook.com/fta-ors-dev{{ event.get_absolute_url }}' },
  ],
});">Share this event on your facebook profile</a></li>

