{% extends "nourish/notif/base.html" %}
{% load nourish %}

{% block icons %}
  <img src="{{notification.objects.0.host_eg.group.image_url}}" width=50 border=0>
  <img src="{{notification.objects.0.guest_eg.group.image_url}}" width=50 border=0>
{% endblock %}

{% block message %}
  {{ notification.objects.0.guest_eg.group.name }} accepted {{ notification.objects.0.host_eg.group.name }}'s invitation(s) to dinner at {{ notification.objects.0.host_eg.event.name }}!
  <ul>
    {% for o in notification.objects %}
      <li>Date: {{ o.date }}</li>
    {% endfor %}
  </ul>
{% endblock %}

{% block actions %}
  <a href="{% nurl notification.objects.0.host_eg.event %}invite/?host={{ notification.objects.0.host_eg.id }}" style="display: inline;">Manage All Invites</a>
  <input type=submit name="take_action" value="Confirm These Invitation(s)">
{% endblock %}
