{% extends "nourish/notif/base.html" %}
{% load nourish %}

{% block icons %}
  <img src="{{notification.objects.0.eg.group.image_url}}" width=50 border=0>
  <img src="{{notification.objects.0.eg.event.image_url}}" width=50 border=0>
{% endblock %}

{% block message %}
  One or more of {{ notification.objects.0.eg.group.name }}'s confirmed invitations to dinner at {{ notification.objects.0.eg.event.name }} were cancelled.
  <ul>
    {% for o in notification.objects %}
      <li>Date: {{ o.date }}</li>
    {% endfor %}
  </ul>
{% endblock %}

{% block actions %}
  <a href"{% nurl notification.objects.0.eg %}meals/" style="display: inline;">Manage All Meals</a>
{% endblock %}
