div#canvas_sidebar ul.event_list {
    list-style: none;
    padding-left: 10px;
}

div#canvas_sidebar ul.event_group_list {
    list-style: square;
    padding-left: 20px;
    padding-bottom: 10px;
}

div#canvas_sidebar ul.links {
    list-style: none;
    padding-left: 0px;
}

div#nourish_header {
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom: 1px dotted gray;
} 

div#nourish_header h2, div#nourish_header h3 {
    display: inline;
}

div#nourish_canvas {
    width: 550px; 
    float: left; 
    border-left: 1px dotted black; 
    padding-left: 10px; 
}

div#canvas_body {
    padding: 0px;
}

div#canvas_sidebar {
    width: 160px; 
    float: left; 
    padding: 10px;
}
