table.meals {
    border-collapse: collapse;
}
tr.meal td, tr.meal th {
    border-top: 1px solid black;
}
table.meals tr th.first {
    border-right: 1px solid black;
}
table.meals th, table.meals td {
    text-align: left;
    padding-left: 0.5em;
}
table.meals th.first {
    font-weight: normal;
}

div.nourish_header h3 {
    margin-right: 15px;
    display: inline;
}

div.nourish_header ul {
    margin:0;
    padding:0;
    list-style:none;
    display: inline;
}

div.nourish_header ul li {
    display:inline;
    margin:0;
    padding:0;
    padding-right: 10px;
}

div.nourish_header {
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

tr.regerror {
    background-color: #fcc;
}
ul.errorlist {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    list-style:none;
}
ul.errorlist li {
    padding: 0;
    color: red;
}
td.features ul {
    margin:0;
    padding:0;
    list-style:none;
}
td.features li {
    margin:0;
    padding:0;
    display: inline;
}
td.features {
    text-align: center;
}
ul#event_details {
    margin-top: 0;
    list-style: none;
}

.regform th {
    text-align: left;
    color: #600;
}
.regform ul {
    list-style: none;
    padding: 0;
}
    
.regtable input {
    width: auto;    
}

.regtable th {
    text-align: left;
    color: #600;
}

.regdate {
    color: #600;
}
div.small_link {
    width: 255px;
    padding: 5px;
    border: 1px solid #fbb;
    margin: 2px;
}
a.small_link:hover div {
    background-color: #fbb;
}
ul.small_list {
    padding: 0;
}
ul.small_list li {
    list-style: none;
}

ul.radioselect {
    padding: 0;
}

ul.radioselect li {
    list-style: none;
}

div.scroll_select {
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid black;
    height: 150px;
    overflow: auto;
}

div.pending_notif {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid red;
    background-color: #fdd;
    text-align: center;
}

span ul.errorlist {
    background: #fbb;
    border: 1px solid red;
    padding: 3px;
    margin: 3px;
    display: inline;
}

span ul.errorlist li {
    color: black;
    display: inline;
}

ul.fb_connect_options li {
    list-style: none;
}

ul.fb_connect_options input {
    margin-right: 10px;
}

div.nourish_sidebar {
    padding: 5px;
    margin: 10px;
    border: 1px solid #aaa;
    background-color: #f0f0f0;
}

div.nourish_sidebar ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.nourish_sidebar h2 {
    padding: 0px;
    margin: 0px;
    padding-bottom: 5px;
    line-height: 20px;
}
