{% load nourish %}
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <link rel="icon" href="http://www.feedtheartists.net/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/base.css">
    </style>

    <title>{% block title %}{% endblock %} - FtA ORS</title>

    {% block css %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
    {% include "nourish/ga.html" %}
  </head>

  <body><!-- test -->
   {% if canvas %}
     {% include "nourish/canvas_header.html" %}
   {% else %}
     {% include "nourish/web_header.html" %}
   {% endif %}

      <div id="main">
        {% block content-header %}
          {% if error %}<div class="error">{{ error }}</div>{% endif %}
          {% if info %}<div class="info">{{ info }}</div>{% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}
      </div>

   {% if canvas %}
     {% include "nourish/canvas_footer.html" %}
   {% else %}
     {% include "nourish/web_footer.html" %}
   {% endif %}

  {% block js %}
  {% endblock %}
  </body>
</html>
