{% load facebook_tags %}
{% load nourish %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/canvas_base.css">
{% endblock %}
<div id="canvas_sidebar" style="width: 160px; float: left; padding: 10px; ">
  <div id="logo">
    <center>
    <a href="/nourish/fb/logged-in/"><img src="http://feedtheartists.net/images/logo1.gif" width=150></a>
    </center>
  </div>
  <h3>My Events</h3>
  <ul class="event_list">
    <ul>
    {% for er in request.user.get_profile.upcoming_events %}
      {% if er.event %}
        <li><a href="{% nurl er %}">{{ er.group.name }}</a></li>
      {% else %}
        </ul>
        <li><a href="{% nurl er %}">{{ er.name }}</a></li>
        <ul class="event_group_list">
      {% endif %}
    {% endfor %}
  </ul>
  <br><br>
  <ul class="links">
    <li><a target="_blank" href="http://feedtheartists.net/contactus.html">Contact FtA</a></li>
    <li><a target="_blank" href="http://code.google.com/p/nourish/issues/entry?labels=Type-Defect,Path-{{request.path}}&summary=Problem on {{request.path}}">Report Bug</a></li>
    <li><a target="_blank" href="http://code.google.com/p/nourish/issues/entry?template=Feature%20Request&labels=Path-{{request.path}}">Request Feature</a></li>
  </ul>
</div>

<div id="nourish_canvas" style="width: 550px; float: left; border-left: 1px dotted black; padding-left: 10px; ">
 <div id="nourish_header">
  <h2 style="display: inline;">Feed The Artists</h2>
  <h3 style="display: inline;">Online Reservation System</h3>
 </div>
 <div style="padding: 0px;">

{% facebook_js %}

<script type="text/javascript">
FB.Canvas.setAutoResize();
</script>
