{% extends "base.html" %}

{% block title %}{{ object.name }} - Events{% endblock %}

{% block content %}
    <h2>{{ object.name }}</h2>
    <ul id="event_details">
    <li>{{object.start_date}} to {{object.end_date}}</li>
    <li>Event Website: <a href="{{object.url}}">{{object.url}}</a></li>
    </ul>

    {% if not user.is_authenticated %}
        <a href="{{object.get_absolute_url}}register/guest"><img src="http://feedtheartists.net/images/home-artists.jpg" alt="Register New Camp" border=0></a>
        <a href="{{object.get_absolute_url}}register/host"><img src="http://feedtheartists.net/images/burningman2.jpg" alt="Register New Theme Camp" border=0></a>
        <a href="{{object.get_absolute_url}}group/{{eg.id}}/">{{eg.group.name}}</a>
    {% endif %}

    <h3>Registered Artist Groups</h3>
    <ul>
    <li>[<a href="{{object.get_absolute_url}}register/guest">Register New Artist Group</a>]</li>
    {% for eg in guest_list %}
        <li><a href="{{object.get_absolute_url}}group/{{eg.id}}/">{{eg.group.name}}</a></li>
    {% endfor %}
    </ul>

    <h3>Registered Theme Camps</h3>
    <ul>
    <li>[<a href="{{object.get_absolute_url}}register/host">Register New Theme Camp</a>]</li>
    {% for eg in host_list %}
        <li><a href="{{object.get_absolute_url}}group/{{eg.id}}/">{{eg.group.name}}</a></li>
    {% endfor %}
    </ul>


        
    {% if is_admin %}
        You are an admin of this event!<br>
        <a href="{{ object.get_absolute_url }}edit/">Edit Event</a>
    {% endif %}
    <!--
    {% if attend.attending == 'Y' %}
	You are attending this event!
	<a href="{{object.get_absolute_url}}attend">Change</a>
    {% endif %}
    {% if attend.attending == 'M' %}
	You are maybe attending this event!
	<a href="{{object.get_absolute_url}}attend">Change</a>
    {% endif %}
    {% if user.is_authenticated %}
        {% if not attend or attend.attending == 'N' %}
    	<a href="{{object.get_absolute_url}}attend">Attend Event</a>
        {% endif %}
    {% endif %}
    -->

{% endblock %}
