{% extends "base.html" %}

{% load facebook_tags %}
{% load nourish %}

{% block title %}{{ object.name }} - Events{% endblock %}

{% block content %}
  {% if object.image_url %}
    <div style="float: left; margin-right: 5px;">
      <a href="{{ object.url }}"><img width=100 src="{{object.image_url}}?type=normal" border=0></a>
    </div>
  {% endif %}
  <div style="float: left; width: 450px;">
    <h2 style="display: inline;">{{ object.name }}</h2>
    {% if is_admin %}
      [<a href="{% nurl object %}edit/">Edit Event</a>]
    {% endif %}
    <br>
    {{ object.start_date }} thru {{ object.end_date }}<br>
    
    FtA Organizers
    <ul style="display: inline; list-style: none; padding: 0;">
      {% for eu in eventuser_list %}
        <li style="display: inline; padding-left: 0.5em;">{% userlink eu.user %}</li>
        </li>
      {% endfor %}
    </ul>
    <br>
    Event website: {{object.url|urlizetrunc:40}}
  </div>
  <div style="clear: both;"></div>

  <br>

  <div style="float: left;">
    {% include "nourish/fb/event_guest_siteinvite_link.html" with event=object %}
    <a href="{% nurl object %}register/guest">
      <img width=250 src="http://feedtheartists.net/images/home-artists.jpg" alt="Register New Artist Group" border=0>
    </a>
    {% if guest_list %}
      <h3>Registered Artist Groups</h3>
      <ul class="small_list">
        {% for eg in guest_list %}
          <li>{% include "nourish/eg_group_small.html" with eg=eg %}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div style="float: left;">
    {% include "nourish/fb/event_host_siteinvite_link.html" with event=object %}
    <a href="{% nurl object %}register/host">
      <img width=250 src="http://feedtheartists.net/images/burningman2.jpg" alt="Register New Theme Camp" border=0>
    </a>
    {% if host_list %}
      <h3>Registered Theme Camps</h3>
      <ul class="small_list">
        {% for eg in host_list %}
          <li>{% include "nourish/eg_group_small.html" with eg=eg %}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div style="clear: both;"></div>
  {% facebook_js %}
{% endblock %}
