{% extends "base.html" %}

{% block title %}Manage Meals{% endblock %}

{% block content %}

<h2><a href="{{eg.get_absolute_url}}">{{ eg.group.name }} at {{ eg.event.name }}</a></h2>

<h3>Manage Meals</h3>

<form action="{{eg.get_absolute_url}}meals/" method="post">{% csrf_token %}
{{ formset.management_form }}
<ul>
<table border=0>
<tr><th>Date</th><th>Diners</th><th>Restrictions</th><th>Notes</th></tr>
{% for form in formset %} 
<tr><td colspan=4>
<hr>
{{ form.non_field_errors }}
</td>
<tr>
<td>{{ form.meal_id }} {{ form.meal }} {{ dates.next|date:"N j" }} <em>({{ days.next|date:"D." }})</em> </td>
<td>{{ form.members.errors }}
    {{ form.members }}</td>
<td>{{ form.features.errors }}
    {{ form.features }}</td>
<td>{{ form.notes.errors }}
    {{ form.notes }}</td>
</tr>
{% if has_invites.next %}
<tr><td></td>
<td colspan=3>{{ form.invite.errors }}
    {{ form.invite }}</td>
</td>
</tr>
{% endif %}
{{ form.non_field_errors }}
{% endfor %}
<tr><td colspan=3><hr></td>
</table>
<input type="submit" value="Save Changes" />
</form>
{% endblock %}
