{% extends "base.html" %}
{% load nourish %}

{% block title %}{{ object.name }} - Groups{% endblock %}

{% block content %}

    {% if object.image_url %}
        <div style="float: left; margin-right: 5px;"><a href="{{ object.url }}"><img src="{{object.image_url}}?type=normal" border=0></a></div>
    {% endif %}
    <div style="float: left; width: 450px;">
    <h2 style="display: inline;">{{ object.name }}</h2>
    <a href="{{ object.get_absolute_url}}edit/">[Edit Group]</a><br>
    Organizers
    <ul style="display: inline; list-style: none; padding: 0;">
    {% for gu in groupuser_list %}
        <li style="display: inline; padding-left: 0.5em;">{% userlink gu.user %}</li>
        </li>
    {% endfor %}
    </ul>
    <br>
    Group website: <a href="{{ object.url }}">link</a>
    </div>
    <div style="clear: both;"></div>
    <h3 style="padding-top: 1em;">About us</h3>
    <p>{{ object.description }}</p>
    <h3>Events we are attending</h3>
    <ul>
    {% for eg in eventgroup_list %}
        <li><a href="{{eg.event.get_absolute_url}}">{{eg.event.name}}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
