{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

<h2>Upcoming Events</h2>
{% if events or egs %}
  <ul>
  {% for event in events %}
      <li><a href="{{event.get_absolute_url}}">{{event.name}}</a></li>
  {% endfor %}
  {% for eg in egs %}
      <li><a href="{{eg.get_absolute_url}}">{{eg.group.name}} at {{eg.event.name}}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>You aren't currently attending any events.</p>
{% endif %}

<h2>My Groups</h2>
{% if groups %}
  <ul>
  {% for group in groups %}
    <li><a href="/groups/{{ group.id }}/">{{ group.name }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>You aren't currently a members of any groups</p>
{% endif %}


{% endblock %}
