{% extends 'base.html' %}
{% block title %}Feed The Artists{% endblock %}

{% block content %}
<h1>FtA ORS</h1>
<p>Welcome to the Feed The Artists Online Reservation System.</p>

<p>This system is designed to be used by three groups of people:</p>

<ul>
<li><a href="/register/event">Regional Event Organizers</a></li>
<li><a href="/events/">Theme Camp Organizers</a></li>
<li><a href="/events/">Artist Group Organizers</a></li>
</ul>

<p>If you are a participant in an enrolled theme camp or artist group, please contact your group organizer for more information about Feed The Artists.</p>

<p>If you are organizing a theme camp or artists group that is attended an event in our system, please find your event on the <a href="/events">events page</a>.  From there, you can register your group and start coordinating meal sharing!</p>

<p>If you are an event organizer, you can <a href="/register/event">register your event.</a></p>

{% endblock %}
