<div style="border: 1px solid red; float: left; margin: 10px; padding: 10px; background-color: #fdd;">
<h2>Do you use facebook?</h2>

<p>If you do, that will save you some typing, not to mention having to remember another password!</p>


{% load facebook_tags %}
<form class="connect-button" name="login" method="post" action="{% if logged_in %}{% url facebook_connect %}{% else %}{% url facebook_login %}{% endif %}">
Updates: <input name=perms type=radio value="" checked>Facebook Only</input>
<input name=perms type=radio value="email">Email and Facebook</input>
<br>
Integrate my: <input name=perms type=checkbox value="user_groups" checked>Groups</input>
<input name=perms type=checkbox value="user_events" checked>Events</input>
<br>
{% facebook_button 1 %}
</form>

<p>If you're not a Facebook user, that's OK too...</p>

<a href="?u=y">Register without a Facebook account</a>


{% facebook_js %}
</div>
