{% extends "base.html" %}
{% load nourish %}

{% block title %}Register an Artist Group at {{event.name}}{% endblock %}

{% block content %}
<h2>Register an Artist Group at {{event.name}}</h2>
<p>This page is for artists groups that would like to be invited to dinner at {{event.name}}.  Registering doesn't guarantee you a meal, but we certainly hope it will get you invited to one (or more) on the playa...</p>

{% if not user.is_authenticated and not request.GET.u %}
{% include "nourish/please_connect.html" %}
{% else %}
<form action="{% nurl event %}register/guest/" method="post">{% csrf_token %}
{{ user_formset.management_form }}
{{ group_formset.management_form }}
{{ meal_formset.management_form }}
{% if not user.is_authenticated %} 
<h3>Info about you</h3>
<p>We presume that you are the person who will be coordinating meals for your group.  We need the information below so that we can contact you with updates about your reservations, as well as other FtA-related communications.  Plus, you'll need to be able to log back into the site later to confirm your invitations, etc.</p>
{{ user_formset.0.non_field_errors }}
<table class="regform">
{% include "nourish/form_snippet.html" with form=user_formset.0 %}
</table>
{% endif %}

{% if is_fb %}
<h3>Select your group</h3>
<p>If your group doesn't have a Facebook page, <a href="?nofb">click here</a>.
{% else %}
<h3>Info about your group</h3>
<p>The following information will be shared with theme camps who are looking for artists to invite.  The description is a good place for a brief description of your project and any overall dietary restrictions that you may have.</p>
{% endif %}
{{ group_formset.0.non_field_errors }}
<table class="regform">
{% include "nourish/form_snippet.html" with form=group_formset.0 %}
</table>
</ul>

<h3>Meals</h3>
<p>Here's where you tell us how many crew members are looking for dinner each night of the event.  Please specify each night that there will be crew with special dietary restrictions.</p>
<table border=0 class="regtable">
{{ meal_formset.non_field_errors }}
<tr><th>Date</th><th>Crew</th><th>Restrictions</th><th>Notes</th></tr>
{% for form in meal_formset %}
  {% if form.non_field_errors %}
  <tr><td colspan=2>{{ form.non_field_errors }}</td></tr>
  {% endif %}
  <tr>
    <td class="regdate">{{ dates.next|date:"N j" }} <em>({{ days.next|date:"D." }})</em>{{ form.date }}{% for field in form.hidden_fields %}{{ field }}{% endfor %}</td>
    <td>{{ form.members.errors }} {{ form.members }}</td>
    <td class="features">{{ form.features.errors }} {{ form.features }}</td>
    <td>{{ form.notes.errors }} {{ form.notes }}</td>
  </tr>
{% endfor %}
</table>
<input type="submit" value="Register" />
</form>
{% endif %}
{% endblock %}
